<script>
    let keywordchart=document.getElementById('keywordchart').getContext('2d');

    let drawkeywordchart=new Chart(keywordchart,{
        type:'bar',
        data:{
          labels:{{keyword |safe }} ,
          datasets:[{
                        data:{{keyword_frequency}},
                        backgroundColor:['#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784',
                        '#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784',
                        '#64B5F6','#E3F2FD','#F06292'
                        ],
                        borderWidth:3,
                        borderColor:'#777',
                        hoverBorderWidth:6,
                        hoverBorderColor:'#000'
                    }
                  ],

        },
        options:{}
    });

    let categorychart=document.getElementById('categorychart').getContext('2d');
    let drawcategorychart=new Chart(categorychart,{
        type:'pie',
        data:{
          labels:['Politics','Bollywood','Cricket','Pollution','Population','Unemployment','Child Labour','Price Hike','Corruption','Education'],
          datasets:[{
                        data:[44,20,15,5,2,3,1,2,6,2],
                        backgroundColor:['#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784','#76FF03','#F44336','#00C853'],
                        borderWidth:0,
                        borderColor:'#777',
                        hoverBorderWidth:2,
                        hoverBorderColor:'#000'
                    }
                  ],

        },
        options:{}
    });



</script>



<!--footer-->
        <footer class="page-footer">
            <div class="row">
                <div class="col s1">
                </div>
              <div class="col s5">
                <h5 class="white-text">Save4Pillar</h5>
                <p class="grey-text text-lighten-4">Media is the fourth pillar of democracy. The platform Save4Pillar is to rank the
                    news media platform based on the content provided by them. We believe if we have system to rank the news media then
                    we could get more quality news related to our issue like population , pollution , unemployment , child labour etc unlike the
                    trend in media nowadays in which they talk mostly about politics , celebrities and cricket etc.
                </p>
              </div>
                <div class="col s1">
                </div>
              <div class="col s2">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                </ul>
              </div>
                <div class="col s3">
                <h5 class="white-text">Follow Us</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Save Fourth Pillar

            </div>
          </div>
        </footer>





</body>
</html>