{% extends "feed/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col l2">
             <div class="row">
                <div class="col l12">
                  <div class="row">
                    <div class="input-field col l12">
                      <i class="material-icons prefix">search</i>
                      <input type="text" id="autocomplete-input" class="autocomplete">
                      <label for="autocomplete-input">Search</label>
                    </div>
                  </div>
                    <div class="sidebar">
                      <a href="{% url 'feed:news' %}"><i class="fa fa-fw fa fa-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;Top News</a>
                      <a href="{% url 'feed:news' %}"><i class="fa fa-fw fa-user"></i> &nbsp;&nbsp;&nbsp;Your Profile</a>
                    </div>

                </div>

             </div>
        </div>
        <div class="col l7">
            <div class="card">
                <canvas id="categorychart">
                </canvas>
                <div class="card-content">
                    Analysis of Indian News Media
                </div>
            </div>
            <div class="card">
                <canvas id="keywordchart">
                </canvas>
                 <div class="card-content">
                    Top keyword by indian media
                </div>
            </div>

            <script>
    let keywordchart=document.getElementById('keywordchart').getContext('2d');

    let drawkeywordchart=new Chart(keywordchart,{
        type:'bar',
        data:{
          labels:{{keyword |safe }} ,
          datasets:[{
                        data:{{keyword_frequency}},
                        backgroundColor:['#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784',
                        '#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784',
                        '#64B5F6','#E3F2FD','#F06292'
                        ],
                        borderWidth:3,
                        borderColor:'#777',
                        hoverBorderWidth:6,
                        hoverBorderColor:'#000'
                    }
                  ],

        },
        options:{}
    });

    let categorychart=document.getElementById('categorychart').getContext('2d');
    let drawcategorychart=new Chart(categorychart,{
        type:'pie',
        data:{
          labels:['Politics','Bollywood','Cricket','Pollution','Population','Unemployment','Child Labour','Price Hike','Corruption','Education'],
          datasets:[{
                        data:[44,20,15,5,2,3,1,2,6,2],
                        backgroundColor:['#64B5F6','#E3F2FD','#F06292','#CDDC39','#EA80FC','#FF8A65','#81C784','#76FF03','#F44336','#00C853'],
                        borderWidth:0,
                        borderColor:'#777',
                        hoverBorderWidth:2,
                        hoverBorderColor:'#000'
                    }
                  ],

        },
        options:{}
    });



</script>
















        </div>
        <div class="col l3">
            <div class="card">
                <div class="card-content">
                    <p><b>Top 10 news channel</b></p>
                    <hr>
                    <table id="rank-table" class="striped responsive-table">
                        <thead>
                          <tr>
                              <th>Rank</th>
                              <th>Channel Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>NDTV</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>The Hindu</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Hindustan Times</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>Republic</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>Aaj Tak</td>
                          </tr>
                        </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}