{% extends "feed/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col l2">
            {% include 'feed/leftsidemenu.html' %}
        </div>
        <div class="col l7">


            <div class="card">
               <ul class="browser-default">
                    {% for post in republic_headline %}
                    <li><a href="{{ post.Link }}"> {{ post.Headline }}</a><br>
                        <small><left> {{ post.Date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>

            </div>

        </div>
        <div class="col l3">
            {% include 'feed/rightsiderank.html' %}
        </div>
    </div>
{% endblock %}