{% extends "feed/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col l2">
             <div class="row">
                <div class="col 12">
                  <div class="row">
                    <div class="input-field col l12">
                      <i class="material-icons prefix">search</i>
                      <input type="text" id="autocomplete-input" class="autocomplete">
                      <label for="autocomplete-input">Search</label>
                    </div>
                  </div>
                    <div class="sidebar">
                      <a href="#republic"><i class="fa fa-fw fa fa-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;Republic</a>
                      <a href="#ndtv"><i class="fa fa-fw fa fa-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;NDTV</a>
                      <a href="#indiatoday"><i class="fa fa-fw fa fa-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;India Today</a>
                      <a href="#thehindu"><i class="fa fa-fw fa fa-list"></i>&nbsp;&nbsp;&nbsp;&nbsp;The Hindu</a>
                      <a href="#hindustantimes"><i class="fa fa-fw fa-list"></i> &nbsp;&nbsp;&nbsp;Hindustan Times</a>
                        {% if not user.is_authenticated %}
            <a href="">&nbsp;Sign Up</a>
            <a href="{% url 'login' %}"></span>&nbsp;Login</a>
      {% else %}
          <a href=""></span>&nbsp;{{ user.username }}</a>
          <a href="{% url 'feed:logout' %}"><span class=""></span>&nbsp;logout</a>

        {% endif %}
                    </div>

                </div>

             </div>






        </div>
        <div class="col l7">

            <div class="card" id="republic">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;Republic</b></h6>
                <ul class="browser-default">
                    {% for post in republic_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
                <p class="news-card-bottom"><b><a href="{% url 'feed:republic' %}"> View all coverages from Republic</a></b></p>
            </div>

            <div class="card" id="ndtv">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;NDTV</b></h6>
                <ul class="browser-default">
                    {% for post in ndtv_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
               <p class="news-card-bottom"><b><a href="{% url 'feed:ndtv' %}"> View all coverages from NDTV</a></b></p>
            </div>

            <div class="card" id="indiatoday">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;India Today</b></h6>
                <ul class="browser-default">
                    {% for post in indiatoday_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
                <p class="news-card-bottom"><b><a href="{% url 'feed:indiatoday' %}"> View all coverages from India Today</a></b></p>
            </div>

            <div class="card" id="hindustantimes">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;The Hindu</b></h6>
                <ul class="browser-default">
                    {% for post in hindu_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
               <p class="news-card-bottom"><b><a href="{% url 'feed:hindustan' %}"> View all coverages from Hindustan Time</a></b></p>
            </div>

            <div class="card" id="thehindu">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;Zee News</b></h6>
                <ul class="browser-default">
                    {% for post in zeenews_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
               <p class="news-card-bottom"><b><a href="{% url 'feed:hindustan' %}"> View all coverages from Hindustan Time</a></b></p>
            </div>

            <div class="card" id="zeenews">
                <br>
                <h6><b>&nbsp;&nbsp;&nbsp;Hindustan Times</b></h6>
                <ul class="browser-default">
                    {% for post in hindustan_headline %}
                    <li><a href="{{ post.link }}"> {{ post.headline }}</a><br>
                        <small><left> {{ post.date }}</left></small>
                    </li>
                    {% endfor %}
                </ul>
               <p class="news-card-bottom"><b><a href="{% url 'feed:hindustan' %}"> View all coverages from Hindustan Time</a></b></p>
            </div>



        </div>
        <div class="col l3">

        </div>
    </div>
{% endblock %}