<div class="card">
                <div class="card-content">
                    <p><b>Top 10 news channel</b></p>
                    <hr>
                    <table id="rank-table" class="striped responsive-table">
                        <thead>
                          <tr>
                              <th>Rank</th>
                              <th>Channel Name</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>The Hindu</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>Hindustan Times</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>NDTV</td>
                          </tr>

                          <tr>
                            <td>4</td>
                            <td>Republic</td>
                          </tr>

                          <tr>
                            <td>5</td>
                            <td>Zee News</td>
                          </tr>
                        </tbody>
                  </table>
                </div>

            </div>